<%- include("../includes/head.ejs") %>
        <link rel="stylesheet" href="/admin.css">
</head>
<body>
    <%- include("../includes/nav.ejs")%>
        <main>
            <form action="/admin/<% if(editMode) {%>edit-product<%} else {  %>add-product<%}%>" method="POST">
                <label for="title">title</label>
                <input type="text" name="title" id="title" value="<% if(editMode) {%><%= product.title %><%}%>">
                <label for="price">price</label>
                <input type="number" step="0.01" name="price" id="price" value="<% if(editMode) {%><%= product.price %><%}%>">
                <label for="description">description</label>
                <textarea name="description" id="description" cols="30" rows="10">
                    <% if(editMode) {%><%= product.description %><%}%>
                </textarea>
                <% if(editMode) {%>
                    <input type="hidden" name="id" value="<%= product.id %>">
                <%}%>
                <button>submit</button>
            </form>
        </main>
</body>
</html>