        <nav>
            <ul>
                <li><a href="/shop/shop" class= "<%=path === '/shop/shop' ? 'active' : '' %>" >shop</a></li>
                <li><a href="/shop/product-list" class="<%= path==='/shop/product-list' ? 'active' : '' %>">products</a></li>
                <li><a href="/shop/cart" class="<%= path==='/shop/cart' ? 'active' : '' %>">cart</a></li>
                <li><a href="/shop/order" class="<%= path==='/shop/order' ? 'active' : '' %>">order</a></li>
                <li><a href="/admin/add-product" class= "<%=path === '/admin/add-product' ? 'active' : '' %>" >add-product</a></li>
                <li><a href="/admin/admin-products" class="<%= path==='/admin/admin-products' ? 'active' : '' %>">admin-products</a></li>
            </ul>
        </nav>